{deps, 
  [
%%    {rsrc_pool, {git, "git://git.code.sf.net/p/erlpool/code", {branch, master}}}
    {rsrc_pool, "1.0.3"}
  ]
}.
{erl_opts, [debug_info]}.
{eunit_tests, [{module, mysql_client_tests}, {module, example_tests}]}.
{eunit_compile_opts, [{src_dirs, ["src", "examples"]}]}.
{cover_enabled, false}.
{edoc_opts, [
  {def, [{version, "1.2.8"}]},
  {private, false},
  {source_path, ["examples"]},
  {title, "MySQL client for Erlang"}, 
  {overview, "src/overview.edoc"},
  {sort_functions, false}, 
  {stylesheet_file, "priv/my.css"}, 
  {includes, ["include/"]}
]}.
{plugins, [rebar3_hex]}.
